.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 5%;
  margin: 5px;
  font-size: 40px;
  border: solid 1px gainsboro;
  border-radius: 5px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background-color: whitesmoke;
}

tbody {
  text-align: left;
}

.error {
  padding-top: 2%;
  color: #b64743;
}

.error div {
  display: inline;
  float: left;
}

.status-success i {
  color: #67b168;
}

.status-failed i {
  color: #b64743;
}

.status-warning i {
  color: #d58512;
}

.status-pending i {
  color: #6f6f6f;
}

.no-suites-found, .no-suite-loaded {
  vertical-align: middle;
}

.no-suites-found img {
  width: 4%;
  float: left;
  vertical-align: middle;
}

.status-image {
  width: 40px;
  float: left;
}

.no-suite-loaded .selectors{
  text-align: center;
  margin: 0;
}

.validated, .status {
  text-align: center;
  width: 2px;
}

.selectors {
  position: relative;
  text-align: left;
  float: left;
  width: 15%;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
}

.selectors .panel-body {
  padding: inherit;
}

.selectors button.active,
.selectors button.active:focus,
.selectors button.active:hover{
  pointer-events: none;
  background-image: linear-gradient(to bottom,#51575d  0,#51565a 100%);
  text-shadow: 0 -1px 0 #1f1f20;
  border-color: black;
  background-color: #6f6f6f;
}

.suite-selector, .build-selector {
  max-height: 310px;
  overflow: scroll;
}

.list-group {
  margin-bottom: inherit;
}

button {
  text-transform: capitalize;
}

.suite-pane {
  position: relative;
  max-width: 84%;
  top: 5px;
  border-radius: 5px;
}

.suite-pane .panel-body {
  overflow-y: scroll;
  height: 83vh;
}

.suite-pane .panel-title {
  text-align: left;
}

.suite-title {
  text-transform: capitalize;
}

.additional-build-info {
  text-align: left;
}

.modal-dialog{
  width: 80%;
}

.suite-header {
  text-align: left;
  margin-top: 1%;
}

.feature-name label {
  font-size: small;
  color: gray;
}

a[disabled] {
  color: gray;
  pointer-events: none;
}

.spec-additional-info pre {
  max-width: 900px;
}

.spec-additional-info a {
  float: right;
}

.feature-name h2 {
  margin-bottom: 1px;
}

.console-output {
  display: inline;
}

.console-output pre {
  max-width: 90%;
}

.console-output pre p {
  width: 99%;
  white-space: pre-wrap;
}

.console-output a {
  float: right;
}

pre.additional-info {
  max-width: 40%;
  text-align: left;
}

pre.additional-info.collapse.in, pre.additional-info.collapsing {
  display: inline-block;
  float: left;
  margin-right: 100%;
}

.filter-selector-pane {
  text-align: left;
}

.filter-selector {
  margin-right: 100%;
  display: inline;
}

.filter-selector .selected {
  background: #cbcbcb;
}

.filter-selector .btn-group {
  display: inline-flex;
  padding-right: 5px;
}

.btn-group.filter-selector {
  display: table-row-group;
}

.sub-filter-selector button {
  border: 0;
  background: inherit;
  width: 100%;
}

.sub-filter-selector {
  max-height: 470px;
  overflow: scroll;
}

.sub-filter-selector li {
  padding-bottom: 5px;
}

.execution-list {
  padding: 2%;
}

td label {
  cursor: pointer;
}

img {
  width: 100%;
}

a.exception {
  display: table;
}

.thumbnail {
  width: 30%;
}

.features-selection {
  background: white;
  border: solid 1px #cccccc;
  display: inline-block;
}

.feature-pair {
  float: left;
  padding: 5px;
}