.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

tbody {
  text-align: left;
}

.status-success i {
  color: #67b168;
}

.status-danger i {
  color: #d9534f;
}

.status-warning i {
  color: #d58512;
}

.status-pending i {
  color: #6f6f6f;
}

.no-suites-found, .no-suite-loaded {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.no-suites-found img {
  width: 30%;
  float: left;
}

.status-image {
  width: 40px;
  float: left;
}

.no-suite-loaded .selectors{
  text-align: center;
  margin: 0;
}

.selectors {
  position: relative;
  top: 5px;
  text-align: right;
  margin-right: 5%;
}

.modal-dialog{
  width: 80%;
}

.suite-header {
  text-align: left;
}

.feature-name label {
  font-size: small;
  color: gray;
}

a[disabled] {
  color: gray;
  pointer-events: none;
}

.spec-additional-info pre {
  max-width: 900px;
}

.spec-additional-info a {
  float: right;
}

.feature-name h2 {
  margin-bottom: 1px;
}

.console-output {
  display: inline;
}

.console-output pre {
  max-width: 90%;
}

.console-output pre p {
  width: 99%;
  white-space: pre-wrap;
}

.console-output a {
  float: right;
}

pre.additional-info {
  max-width: 40%;
  text-align: left;
}

pre.additional-info.collapse.in, pre.additional-info.collapsing {
  display: inline-block;
  float: left;
  margin-right: 100%;
}

.filter-selector-pane {
  text-align: left;
  margin-top: 1%;
  padding-bottom: 20px;
}

.filter-selector {
  margin-right: 100%;
  display: inline;
}

.filter-selector button {
  text-transform: capitalize;
}

.filter-selector .selected {
  background: gainsboro;
}

td label {
  cursor: pointer;
}

img {
  width: 100%;
}

a.exception {
  display: table;
}

.thumbnail {
  width: 30%;
}